<app-navbar></app-navbar>
<div class="container main-container animated fadeIn">
    <article class="card">
        <header class="card-header" style="font-size: 15px;"><h2>Detalle de Pedido</h2></header>
        <div class="card-body" style="font-size: 14px;">
            <article class="card">
                <div class="card-body row" *ngFor="let orde of orde">
                    <div class="col"> <strong>Fecha de Pedido:</strong> <br>{{orde.date | date: 'dd/MM/yyyy'}} </div>
                    <div class="col"> <strong>Direccion:</strong> <br>{{orde.neighbour}}, {{orde.street}} #{{orde.number}} </div>
                    <div class="col"*ngIf="orde.state === 0"> <strong>Estado:</strong> <br> Cancelado </div>
                    <div class="col"*ngIf="orde.state === 1"> <strong>Estado:</strong> <br> Recibido </div>
                    <div class="col"*ngIf="orde.state === 2"> <strong>Estado:</strong> <br> Preparando </div>
                    <div class="col"*ngIf="orde.state === 3"> <strong>Estado:</strong> <br> En camino </div>
                    <div class="col"*ngIf="orde.state === 4"> <strong>Estado:</strong> <br> Entregado </div>
                    <div class="col"> <strong>Total:</strong> <br> {{orde.total}} Bs. </div>
                </div>        
            </article>
            <hr>
            <ul class="row">
                <li class="col-md-4" *ngFor="let order of order">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src={{order.image}} class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">{{order.productName}} <br> Cantidad: {{order.qtty}}</p> <span class="text-muted">{{order.price}} Bs.</span>
                        </figcaption>
                    </figure>
                </li>
                
            </ul>
            <hr>
            <a class="btn btn-warning" data-abc="true" [routerLink]="['../../orders']" > Volver a Historial</a>
        </div>
    </article>
</div>