<div class="card bg-dark text-white">
    <div class="card-header"> Detalle del Producto</div>

    <div class="card-body">

        <div class="container">
           <div class="row">
                <div class="col-sm">
                    <ul *ngIf="producto" class="list-group text-dark mb-3">
                        <li class="list-group-item active">{{producto.productName}}</li>
                        <li class="list-group-item">{{producto.model}}</li>
                        <li class="list-group-item">{{producto.stock}}</li>
                        <li class="list-group-item">{{producto.price}}</li>
                    </ul>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                            <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                            <label class="custom-file-label" for="inputGroupFile04">Seleccionar Imagen</label>
                            </div>
                            <div class="input-group-append">
                            <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                            </div>
                        </div>
                        <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
                            <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                                {{progreso}}%
                            </div>
                        </div>
                </div>

                <div class="col-sm">
                    <img *ngIf="producto?.image" src="http://localhost:8080/api/uploads/img/{{producto.image}}" alt="{{producto.productName}}" class="img-thumbnail rounded">
                </div>
           </div> 
        </div>

        
    </div>

</div>
