body {
    background: #eecda3;
    background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
    background: linear-gradient(to right, #eecda3, #ef629f);
    min-height: 100vh;
  }

  table.table td a.view {        
    width: 30px;
    height: 30px;
    color: #5cda9b;
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
}
table.table td a.view i {
    font-size: 22px;
    margin: 10px 0 0 1px;
}   table.table td a.view {        
  width: 30px;
  height: 30px;
  color: #5cda9b;
  border: 2px solid;
  border-radius: 30px;
  text-align: center;
}
table.table td a.view i {
  font-size: 22px;
  margin: 2px 0 0 1px;
}   

  
