<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
<app-navbar></app-navbar>
<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Bienvenido a BuyAtHome</h1>
    <h2>Somos la tienda de articulos electronicos Gaming perfecta para ti</h2>
  </div>
</section>

<main id="main">
  
  <section id="services">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Ofrecemos</h3>
        <p class="section-description">
          BuyAtHome cuenta con los mejores precios y servicio al cliente del mercado en Bolivia</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a><i>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 7px;" width="21" height="21" fill="currentColor" class="bi bi-handbag-fill" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 0-2 2v2H5V3a3 3 0 0 1 6 0v2h-1V3a2 2 0 0 0-2-2zM5 5H3.361a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.356a2.5 2.5 0 0 0 2.472-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11v1.5a.5.5 0 0 1-1 0V5H6v1.5a.5.5 0 0 1-1 0V5z"/>
              </svg>
            </i></a></div>
            <h4 class="title"><a>Mejores Marcas</a></h4>
            <p class="description">
              Contamos con las mejores marcas internacionales del mercado.<br> ASUS, GIGABYTE, MSI, CORSAIR Y MAS</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a><i>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 7px;" width="21" height="21" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
                <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
              </svg>
            </i></a></div>
            <h4 class="title"><a>Mejores Precios</a></h4>
            <p class="description">Ofrecemos los mejores precios en el mercado, los cuales no te puedes perder</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a><i>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 7px;" width="21" height="21" fill="currentColor" class="bi bi-life-preserver" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.43 10.772l-2.788-1.115a4.015 4.015 0 0 1-1.985 1.985l1.115 2.788a7.025 7.025 0 0 0 3.658-3.658zM5.228 14.43l1.115-2.788a4.015 4.015 0 0 1-1.985-1.985L1.57 10.772a7.025 7.025 0 0 0 3.658 3.658zm9.202-9.202a7.025 7.025 0 0 0-3.658-3.658L9.657 4.358a4.015 4.015 0 0 1 1.985 1.985l2.788-1.115zm-8.087-.87L5.228 1.57A7.025 7.025 0 0 0 1.57 5.228l2.788 1.115a4.015 4.015 0 0 1 1.985-1.985zM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </i></a></div>
            <h4 class="title"><a>Atencion al Cliente</a></h4>
            <p class="description">Contamos con la asistencia al cliente de todas las marcas de productos que encontraras en BuyAtHome</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a><i>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 7px;" width="21" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
              </svg>
            </i></a></div>
            <h4 class="title"><a>Delivery</a></h4>
            <p class="description">El servicio de delivery ofrecido es de primera calidad garantizando que tu compra llegue a ti de forma segura y rapida</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a><i>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 7px;" width="21" height="21" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>
            </i></a></div>
            <h4 class="title"><a>Cobertura</a></h4>
            <p class="description">Contamos con cobertura en toda la Ciudad de La Paz</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a><i>
              <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 7px;" width="21" height="21" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                <path d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
              </svg>
            </i></a></div>
            <h4 class="title"><a>Profesionalismo</a></h4>
            <p class="description">Al igual que tu somos apasionados de la tecnologia, por lo que tus compras siempre estaran en las mejores manos</p>
          </div>
        </div>
      </div>

    </div>
  </section>
  
  <section id="call-to-action">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Unete a la familia BuyAtHome</h3>
          <p class="cta-text"> 
            Si aun no cuentas con una cuenta, no esperes mas. Podras acceder a la mejor tienda de articulos electronicos de La Paz, los mejores productos de las mejores marcas internacionales y la mejor atencion al cliente. </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center" >
          <a class="cta-btn align-middle" [routerLink]="['../user/signup']">Registrate</a>
        </div>
      </div>

    </div>
  </section>

  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Categorias</h3>
        <p class="section-description">Ofrecemos las siguientes categorias para que disfrutes de la tecnologia al maximo.</p>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" [routerLink]="['/products/category', 1]">
          <img src="../../../assets/img/PC_1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>PC</h4>
            <p>Computadoras ready-to-go</p>
            <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" [routerLink]="['/products/category', 2]">
          <img src="../../../assets/img/laptop.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Portatiles</h4>
            <p>Equipos portatiles desde 13″ hasta 17″</p>
            <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" [routerLink]="['/products/category', 5]">
          <img src="../../../assets/img/perifericos.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Perifericos</h4>
            <p>Teclados, ratones y mas</p>
            <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" [routerLink]="['/products/category', 3]">
          <img src="../../../assets/img/impresora.jpeg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Impresoras</h4>
            <p>Equipos portatiles desde 13″ hasta 17″</p>
            <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" [routerLink]="['/products/category', 4]">
          <img src=".../../../assets/img/PC.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Componentes de PC</h4>
            <p>Teclados, ratones y mas</p>
            <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" [routerLink]="['/products']">
          <img src="../../../assets/img/All.png" class="img-fluid" alt="" >
          <div class="portfolio-info">
            <h4 >Toda la tienda</h4>
            <p>Encuentra todo lo que ofrece BuyAtHome</p>
            <a data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section>
</main>

<footer id="footer">
  <div class="footer-top">
    <div class="container">

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;  <strong>BuyAtHome</strong>. Todos los derechos reservados xd
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>
