<app-navbaradmin></app-navbaradmin>
<div class="card border-primary mb-3" >

    <div class="card-body text-primary">
        <h5 class="card-title">Listado de usuarios</h5>
        <div class="my-2 text-left">
            <button *ngIf="authService.hasRole('ROLE_ADMINISTRADOR')" class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/usuarios/form']">Crear Usuario</button>
        </div> 
    
        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>id</th>
                
                <th>usuario</th>
               
                <th>estado</th>
                <th>nombres</th>
                <th>apellidos</th>
                <th>email</th>
                <th>ci</th>
                <th>telefono</th>
                <th *ngIf="authService.hasRole('ROLE_ADMINISTRADOR')">
                    editar
                </th>
                <th *ngIf="authService.hasRole('ROLE_ADMINISTRADOR')">
                    eliminar
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.idUsuario }}</td>
                <td>{{ usuario.username }}</td>
                <td *ngIf="usuario.estado==1">Habilitado</td>
                <td *ngIf="usuario.estado==0">Deshabilitado</td>
                <td>{{ usuario.nombres }}</td>
                <td>{{ usuario.apellidos }}</td>
                <td>{{ usuario.email}}</td>
                <td>{{ usuario.ci }}</td>
                <td>{{ usuario.telefono }}</td>
                
                <td *ngIf="authService.hasRole('ROLE_ADMINISTRADOR')">
                    <button type="button" name="editar" [routerLink]="['/usuarios/formedit', usuario.idUsuario]" class="btn btn-primary">editar</button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_ADMINISTRADOR')">
                    <button type="button" name="eliminar" (click)='delete(usuario)' class="btn btn-danger btn-sm">eliminar</button>
                </td>

            </tr>

        </tbody>
        </table>

        <paginatoru-nav *ngIf="paginadoru" [paginadoru] ="paginadoru" ></paginatoru-nav>

    </div>

</div> 