<div class="container main-container">
    <form (ngSubmit)="editUser( edit )" #edit="ngForm">
        <div class="container rounded bg-white mt-5" *ngFor="let user of user">
            <div class="row">
                <div class="col-md-4 border-right">
                </div>
                <div class="col-md-8">
                    <div class="p-3 py-5" >
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="text-right">Editar Perfil</h6>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="user.firstname" class="form-control" ngModel #firstname="ngModel" name="firstname" placeholder="Nombre"
                                [class.is-invalid]="firstname.invalid && firstname.touched"
                                minlength="1"
                                required >
                                <small class="form-text text-danger" *ngIf="firstname.invalid && firstname.touched">El campo es obligatorio</small>
                            </div>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="user.lastname" class="form-control" ngModel #lastname="ngModel" name="lastname" placeholder="Apellido" 
                                [class.is-invalid]="lastname.invalid && lastname.touched"
                                minlength="1"
                                required>
                                <small class="form-text text-danger" *ngIf="firstname.invalid && firstname.touched">El campo es obligatorio</small>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="user.email" class="form-control" ngModel #email="ngModel" name="email" placeholder="Email" >
                            </div>
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="user.phone" class="form-control" ngModel #phone="ngModel" name="phone" placeholder="Telefono" >
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <input type="text" [(ngModel)]="user.street" class="form-control" ngModel #street="ngModel" name="street" placeholder="Calle" >
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" name="neighbour" ngModel #neighbour="ngModel"
                                [class.is-invalid]="neighbour.invalid && neighbour.touched"
                                required>
                                    <option *ngFor="let neighbourData of neighbourData" [value]="neighbourData.neighbourId">{{neighbourData.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="user.reference" class="form-control" ngModel #reference="ngModel" name="reference" placeholder="Referencia" ></div>
                            <div class="col-md-3">
                                <input type="text" [(ngModel)]="user.number" class="form-control"ngModel #number="ngModel" name="number" placeholder="Nro Domicilio" >
                            </div>
                        </div>
                        <div class="mt-5 text-right">
                            <button class="btn btn-primary profile-button" (click) = " alert = !alert " type="submit">Guardar cambios</button>
                            <button class="btn btn-primary profile-button" type="button" [routerLink]="['../profile']">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="alert">
        <strong>Holy guacamole!</strong> Revisa los datos en los campos anteriores.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span (click) = " alert = !alert ">&times;</span>
        </button>
      </div>
    
</div>