@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
body, html {
  height: 100%;
}

body {
  font-family: "Open Sans";
  font-weight: 100;
  display: flex;
  overflow: hidden;
}

input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input:focus {
  outline: 0 transparent solid;
}
input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form {
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: 0.5rem;
}

.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: 0.5rem;
  text-align: center;
}
.login-text .fa-stack-1x {
  color: black;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}
.login-username:focus, .login-password:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

.login-forgot-pass {
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}
.login-forgot-pass:hover {
  opacity: 1;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: 0.25rem;
  transition: 250ms background ease-in;
}
.login-submit:hover, .login-submit:focus {
  background: white;
  color: black;
  transition: 250ms background ease-in;
}

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.underlay-photo {
  -webkit-animation: hue-rotate 6s infinite;
          animation: hue-rotate 6s infinite;
  background: url("https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg");
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}

.underlay-black {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

#about .about-container .background {
    min-height: 300px;
    background: url(../../../src/assets/img/buyathome.png) center top no-repeat;
    margin-bottom: 10px;
  }
  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
  
  @media (max-width: 768px) {
    #about .about-container .title {
      padding-top: 15px;
    }
  }
  
  #about .about-container p {
    line-height: 26px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }
  
  #about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
  }
  
  #about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #2dc997;
  }
  
  #about .about-container .icon-box .icon i {
    color: #2dc997;
    font-size: 24px;
  }
  
  #about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #about .about-container .icon-box .title a {
    color: #111;
  }
  
  #about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }
   
  #services {
    background: #f7f7f7;
    background-size: cover;
    padding: 80px 0 60px 0;
  }
  
  #services .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
  }
  
  #services .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #2dc997;
  }
  
  #services .icon a {
    display: inline-block;
  }
  
  #services .icon i {
    color: #fff;
    font-size: 24px;
  }
  
  #services .box:hover .icon {
    background: #fff;
    border: 2px solid #2dc997;
  }
  
  #services .box:hover .icon i {
    color: #2dc997;
  }
  
  #services .box:hover .icon a {
    color: #2dc997;
  }
  
  #services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  #services .title a {
    color: #111;
  }
  
  #services .description {
    font-size: 14px;
    line-height: 24px;
  }
  
  #call-to-action {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../src/assets/img/buyathome.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
  }
  
  @media (max-width: 1024px) {
    #call-to-action {
      background-attachment: scroll;
    }
  }
  
  #call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action .cta-text {
    color: #fff;
  }
  
  @media (min-width: 769px) {
    #call-to-action .cta-btn-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  
  #call-to-action .cta-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
  }
  
  #portfolio {
    background: #f7f7f7;
    padding: 80px 0;
  }
  
  #portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  #portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 12px 18px 14px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #666666;
    margin: 0 5px 10px 5px;
    transition: all ease-in-out 0.3s;
    background: white;
    border-radius: 4px;
  }
  
  #portfolio #portfolio-flters li:hover, #portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #2dc997;
  }
  
  #portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  #portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 3px;
  }
  
  #portfolio .portfolio-item img {
    position: relative;
    border-radius: 3px;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #2dc997;
    padding: 15px 20px;
    border-radius: 3px;
  }
  
  #portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
  }
  
  #portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    border-radius: 3px;
  }
  
  #portfolio .portfolio-item .portfolio-info .preview-link, #portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
    border-radius: 3px;
  }
  
  #portfolio .portfolio-item .portfolio-info .preview-link:hover, #portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #a4ebd4;
    border-radius: 3px;
  }
  
  #portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }
  
  #portfolio .portfolio-item:hover img {
    top: -30px;
    border-radius: 3px;
  }
  
  #portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
    border-radius: 3px;
  }
  
  .portfolio-details {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-details-container {
    position: relative;
    border-radius: 3px;
  }
  
  .portfolio-details .portfolio-details-carousel {
    position: relative;
    z-index: 1;
  }
  
  .portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
    margin-top: 5px;
    text-align: left;
  }
  
  .portfolio-details .portfolio-details-carousel .owl-dot {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
  }
  
  .portfolio-details .portfolio-details-carousel .owl-dot.active {
    background-color: #2dc997 !important;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    position: absolute;
    right: 0;
    bottom: -70px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li + li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 50px;
  }
  
  .portfolio-details .portfolio-description h2 {
    width: 50%;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0 0 0 0;
  }
  
  @media (max-width: 768px) {
    .portfolio-details .portfolio-description h2 {
      width: 100%;
    }
    .portfolio-details .portfolio-info {
      position: static;
      margin-top: 30px;
    }
  }
  
  
  #contact {
    background: #f7f7f7;
    padding: 80px 0 40px 0;
  }
  
  #contact #google-map {
    height: 300px;
    margin-bottom: 20px;
  }
  
  #contact .info {
    color: #333333;
  }
  
  #contact .info i {
    font-size: 32px;
    color: #2dc997;
    float: left;
  }
  
  #contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
  }
  
  #contact .info .email p {
    padding-top: 5px;
  }
  
  #contact .social-links {
    padding-bottom: 20px;
  }
  
  #contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #contact .social-links a:hover {
    background: #2dc997;
    color: #fff;
  }
  
  #contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  #contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  #contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  #contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  #contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  #contact .php-email-form input, #contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  #contact .php-email-form input::focus, #contact .php-email-form textarea::focus {
    background-color: #2dc997;
  }
  
  #contact .php-email-form button[type="submit"] {
    background: #2dc997;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  #contact .php-email-form button[type="submit"]:hover {
    background: #51d8ad;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #footer {
    background: #343b40;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 0.0000001mm;
    color: #ccc;
  }